.lesson {
  background-color: lemonchiffon;
}

.title {
  color: darkblue;
}

img {
  max-width: 30%;
  height: auto;
}

#email {
  background-color: goldenrod;
}

#github {
  background-color: lightsteelblue;
}

#portfolio {
  background-color: darkorange;
}
